.navbar {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../../../public/calabg.jpg");
  background-size: cover;
  font-weight: 600;
}

.nav__projectName {
  color: #e9d8fd;
  text-decoration: none;
}

.authLink {
  color: #44337a;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink:hover {
  color: #805ad5;
}
