navbar {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #44337A;
  font-weight: 600;
}

.nav__projectName {
  color: #E9D8FD;
  text-decoration: none;
}

.authLink {
  color: #44337A;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* .authLink + .authLink {
  padding: 1em;
} */

.authLink:hover {
  color: #805AD5;
}
