.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #44337a; */
  background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-aurora-boreal-tonos-morados_23-2148273711.jpg?w=1380&t=st=1665102447~exp=1665103047~hmac=58bd1284fcfd4b4dd47ab9d9f56416676ba41ddd6990d6f46d4b07e271e4879c");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #9f7aea;
}
.lilac-bg {
  background-color: #faf5ff;
  height: 100vh;
  background-image: "../public/covercala.png";
  background-size: cover;
}
.taskContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  align-content: center;
  padding-top: 20px;
}
.insightContent {
  background-color: white;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}
.insightsCard {
  display: flex;
  text-align: center;
  align-items: center;
}
.feature {
  color: #44337a;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: xx-large;
  font-weight: bolder;
  text-align: left;
}
.subtitle {
  color: #44337a;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bolder;
  text-align: left;
}
.subtitleDnd {
  color: #44337a;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bolder;
  text-align: left;
}
.subtitle-grey {
  color: #555555;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
.options {
  justify-content: space-between;
}
.pipelineCards {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.projectList {
  display: flex;
  flex-direction: column;
  background-color: #faf5ff;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #555555;
  font-size: large;
  padding-top: 15px;
}
.subtitle-grey {
  color: #555555;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
.options-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}
.modalContent {
  display: flex;
  flex-wrap: wrap;
}
